CBOR deterministically decoded `Array` type

### Summary

Add a new CBOR deterministically decoded `Array` type into the `cbork-utils` crate. Should be analogous as for the `cbork_utils::map::Map` type.

### Description

Following the deterministic CBOR [spec](https://www.rfc-editor.org/rfc/rfc8949.html#name-deterministically-encoded-c), need to implement the analogous type as for the `cbork_utils::map::Map`.

A rough implementation should be the following
```Rust
struct Array(Vec<ArrayEntry>);

impl minicbor::Decode<'_, DecodeCtx> for Map {
    fn decode(
        d: &mut minicbor::Decoder<'_>, ctx: &mut DecodeCtx,
    ) -> Result<Self, minicbor::decode::Error> {
        // Capture position before reading the map header
        let header_start_pos = d.position();

        // From RFC 8949 Section 4.2.2:
        // "Indefinite-length items must be made definite-length items."
        // The specification explicitly prohibits indefinite-length items in
        // deterministic encoding to ensure consistent representation.
        let map_len = d.array()?.ok_or_else(|| {
            minicbor::decode::Error::message(
                "Indefinite-length items must be made definite-length items",
            )
        })?;

        ctx.try_check(|| check_array_minimal_length(d, header_start_pos, map_len))?;

        // Decode entries 
        let entries = decode_entries(d, map_len, ctx)?;
        Ok(Self(entries))
 }
}

/// Decodes all key-value pairs in the map
fn decode_map_entries(
    d: &mut minicbor::Decoder, length: u64, ctx: &mut DecodeCtx,
) -> Result<Vec<ArrayEntry>, minicbor::decode::Error> {
    let capacity = usize::try_from(length).map_err(|_| {
        minicbor::decode::Error::message("Map length too large for current platform")
    })?;
    let mut entries = Vec::with_capacity(capacity);

    // Decode each key-value pair
    for _ in 0..length {
        // Record the starting position of the value
        let value_start = d.position();
        // Skip over the value to find its end position
        d.skip()?;
        let value_end = d.position();

        let value = get_bytes(d, value_start, value_end)?;

        entries.push(ArrayEntry { value });
    }

    Ok(entries)
}

```